<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django Receitas</title>
    </head>

    <body>
        <h1>Receitas</h1>

        <table>
            <thead>
                <tr>
                    <td>Receita</td>
                    <td>Ingredientes</td>
                    <td>Preparo</td>
                </tr>
            </thead>
            <tbody>
                <td>Vitamina de Banana</td>
                <td>Bananas, bolacha de maizena, achocolatado e leite</td>
                <td>Bater no liquidificador</td>
            </tbody>
        </table>
    </body>
</html>