{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    {% include 'partials/header.html' %}

    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                
                {% for chave, valor in nome_das_receitas.items %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                            <div class="receipe-content">
                                <a href="{% url 'receita' %}">
                                    <h5>{{ valor }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}