{% load static %}
<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'index' %}" method="GET">
                    <input type="search" name="procurar_receita" placeholder="Uma receita especial...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">
                <!-- Breaking News -->
                <div class="col-12 col-sm-6">
                    <div class="breaking-news">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="">Boas vindas!</a></li>
                                <li><a href="">As melhores receitas</a></li>
                                <li><a href="">Você encontra aqui!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Top Social Info -->
                <div class="col-12 col-sm-6">
                    <div class="top-social-info text-right">
                        <a href="https://github.com/brnocesar" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/brnocesar" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div clasimg/bg-img/
                        img/bg-img/
                        img/bg-img/s="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'index' %}">Receitas</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'dashboard' %}">Minhas receitas</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'cadastro' %}">Cadastro</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                {% endif %}
                            </ul>

                            <!-- Formulario de busca -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>