{% extends '_base.html' %}
{% load static %}
{% block content %}


    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Criar conta</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form action="{% url 'cadastro' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <label for="nome_receita"><b>Nome completo</b></label>
                                    <input type="text" class="form-control" name="nome" placeholder="Ex.: Fulaninho da Silva" required>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <label for="email"><b>Email</b></label>
                                    <input type="email" class="form-control" name="email" placeholder="Ex.: fulaninho@batatinha.com" required>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="password"><b>Senha</b></label>
                                    <input type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="password_confirmation"><b>Confirmação de senha</b></label>
                                    <input type="password" class="form-control" name="password_confirmation" placeholder="Digite sua senha mais uma vez" required>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <button class="btn btn-success" type="submit">Criar sua conta</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}